<!doctype html>

<hmtl>
<head>

	<title>Predição COVID-19</title>
	
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/style.css")  }}">
	<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">
	
</head>

<h1>Predição COVID-19 em Santa Catarina</h1>

<body>

<h3>O processamento de dados resultou em um erro:</h3>
<p>{{ error }}</p>

</body>